@import "tailwindcss";

body{
    background-color: black;
    scroll-behavior: smooth;
}

@keyframes flicker {
  0%   { opacity: 1; }
  2%   { opacity: 0.2; }
  3%   { opacity: 1; }
  6%   { opacity: 0.5; }
  7%   { opacity: 1; }
  9%   { opacity: 0.1; }
  10%  { opacity: 1; }
  11%  { opacity: 0.3; }
  14%  { opacity: 1; }
  20%  { opacity: 0.6; }
  25%  { opacity: 1; }
  30%  { opacity: 0.2; }
  31%  { opacity: 1; }
  40%  { opacity: 0.4; }
  41%  { opacity: 1; }
  60%  { opacity: 0.3; }
  61%  { opacity: 1; }
  65%  { opacity: 0.8; }
  70%  { opacity: 1; }
  80%  { opacity: 0.5; }
  81%  { opacity: 1; }
  90%  { opacity: 0.2; }
  91%  { opacity: 1; }
  100% { opacity: 1; }
}

.flicker {
  animation: flicker 4.5s infinite;
}

.magnetic-cursor {
  --circle-size: 50px;
  position: fixed;
  height: var(--circle-size);
  width: var(--circle-size);
  background: white; /* base color */
  border-radius: 50%;
  top: calc(var(--circle-size) / 2 * -1);
  left: calc(var(--circle-size) / 2 * -1);
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
}

.magnetic-cursor {
  box-shadow: 0 0 12px rgba(255,255,255,0.25);
}

body {
  background: #050908;
}

body {
  cursor: none;
}

.invert-blend {
  color: white;
  mix-blend-mode: difference;
  position: relative;
  z-index: 2;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #050908;
}

